# Database URL config (SQLite local dev or PostgreSQL docker container)
DATABASE_URL=postgresql://postgres:postgres@db:5432/transitops

# JWT Auth Secrets
JWT_SECRET_KEY=37d7a1ea1d07c08bfa670dc5d7367b613b5b14c3e8093121bbcf03a3d5b2670e
ACCESS_TOKEN_EXPIRE_MINUTES=480
